table.transitTable {
  border: 1px solid #1C6EA4;
  width: 100%;
  text-align: left;
}
table.transitTable td, table.transitTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.transitTable tbody td {
  font-size: 25px;
}
table.transitTable tr:nth-child(even) {
  background: #90F3B5;
}
table.transitTable thead {
  background: #4EC57A;
  background: -moz-linear-gradient(top, #7ad39b 0%, #5fca87 66%, #4EC57A 100%);
  background: -webkit-linear-gradient(top, #7ad39b 0%, #5fca87 66%, #4EC57A 100%);
  background: linear-gradient(to bottom, #7ad39b 0%, #5fca87 66%, #4EC57A 100%);
  border-bottom: 2px solid #444444;
}
table.transitTable thead th {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  border-left: 1px solid #000000;
}
table.transitTable thead th:first-child {
  border-left: none;
}

table.transitTable tfoot td {
  font-size: 14px;
}
table.transitTable tfoot .links {
  text-align: right;
}
table.transitTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
